<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portfolio</title>
</head>
<body>
    <header>
        <div>shweta portfolio</div>
        <nav>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#education">Education</a></li>
                <li><a href="#skills">skills</li/a></li>
                <li><a href="#project">project<li/a></li>   

            </ul>
        </header>
        <section id="about">
            <h1>About me</h1>
            <p>my name is shweta . <br>
            i am a software developer with a passion</p>
            </div>
            <div>
                <img src="../IMG_0253.JPG" >
            </div>
        </section>
        <section id="education">
            <h1>Education</h1>
            <ul>
                </li>
                <h4>AITS</h4>
                <p>B.Tech at stream of ECE</p>
            </li>
            <li>
                <h4> vasista</h4>
                <p>Intermediate at stream of MPC</p>
            </li>
                <h4>vasista</h4>
                <p>High School</p>
            </li>
            </ul>
        </section>
        <section id=""skills">
        <ul>
            <li>java</li>
            <li>python</li>
            <li>css</li>
        </ul>
    </section>
    <section id="projects">
        <h1>projects</h1>
        <ul>
            <li>project 1:personal blog</li>
            <li>project 2:portfolio website</li>
        </ul>
    </section>
    <section id="contact">
        <h5>phone:</h5>
        <a href="callto:+91 1234567890">+1234567890</a>
    </section>
</body>
</html>